# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local

# Backend
backend/__pycache__
backend/*/__pycache__
backend/*.pyc
backend/.env
backend/venv
backend/.venv
backend/fitness.db
backend/instance

# Logs i editor
.cursor
*.log
.DS_Store
.idea
.vscode
